@import 'tailwindcss';
@import 'uniwind';

@import 'heroui-native/styles';
@source '../node_modules/heroui-native/lib';

@theme {
  --white: oklch(100% 0 0);
  --black: oklch(0% 0 0);

  --muted: oklch(70% 0.0145 281.45);

  --radius: 0.5rem;
  --box-radius: 1rem;
}


@layer theme {
  :root {
    @variant light {
      --background: oklch(98% 0.003 247.858);
      --foreground: var(--black);

      --surface: oklch(95% 0 0);
      --surface-foreground: var(--foreground);

      --surface-secondary: oklch(92.5% 0 0);
      --surface-secondary-foreground: var(--foreground);

      --overlay: oklch(95% 0 0);
      --overlay-foreground: var(--foreground);

      --default: oklch(36% 0 0);
      --default-foreground: var(--white);

      --accent: oklch(56% 0.290 240.200);
      --accent-foreground: oklch(94% 0.030 240.200);

      --field-background: oklch(95% 0 0);
      --field-foreground: var(--foreground);
      --field-placeholder: var(--muted);

      --success: oklch(73.5% 0.245 151.711);
      --success-foreground: oklch(32% 0.080 151.711);

      --warning: oklch(90% 0.182 98.111);
      --warning-foreground: oklch(32% 0.090 98.100);

      --danger: oklch(80% 0.280 29);
      --danger-foreground: oklch(24% 0.090 29);
    }

    @variant dark {
      --background: oklch(17.5% 0 0);
      --foreground: var(--white);

      --surface: oklch(20% 0 0);
      --surface-foreground: var(--foreground);

      --surface-secondary: oklch(24.6% 0 0);
      --surface-secondary-foreground: var(--foreground);

      --overlay: oklch(20% 0 0);
      --overlay-foreground: var(--foreground);

      --default: oklch(36% 0 0);
      --default-foreground: var(--white);

      --accent: oklch(56% 0.290 240.200);
      --accent-foreground: oklch(94% 0.030 240.200);

      --field-background: oklch(20% 0 0);
      --field-foreground: var(--foreground);
      --field-placeholder: var(--muted);

      --success: oklch(73.5% 0.245 151.711);
      --success-foreground: oklch(32% 0.080 151.711);

      --warning: oklch(90% 0.182 98.111);
      --warning-foreground: oklch(32% 0.090 98.100);

      --danger: oklch(80% 0.280 29);
      --danger-foreground: oklch(24% 0.090 29);
    }
  }
}
